<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container_style">
        <div class="vertical_menu">
            <a href="/my_page/">Моя страница</a><br>
            <a href="/news_feed/">Новости</a><br>
            <a href="/friends_page/">Друзья</a><br>
        </div>
        <div class="content_style">
            <h1>Друзья</h1>

            <ul>
                {% for friend in list_mutual_friends %}
                    <div class="post_style">
                        <div class="heder_post_style">
                            <div class="avatar_user_style">
                            </div>
                            <div class="info_user_style">
                                <div class="user_name_style">
                                    {{friend.name}}
                                </div>
                            </div>
                        </div>
                        <form action="/friends/remove_from_friends" method="post">
                            <input type="hidden" name="friend_id" value="{{ friend.id }}">
                            <button type="submit">Удалить друга</button>
                        </form>
                    </div>
                {% endfor %}    
            </ul>
        </div>
        <div>
            <div>
                <form class="ui form" action="/friends/send_request" method="post">
                    <h3 class="test_css">Добавить в друзья</h3>
                    <div class="field">
                        <label>ID пользователя:</label><br>
                        <input type="text" name="friend_id" placeholder="Введите ID"><br>
                    </div>
                    <button class="ui teal basic button" type="submit">Отправить запрос</button>
                </form>
            </div>
            <h2>Заявки в друзья</h2>

            <ul>
                {% for request in list_request %}
            
                    <div class="friend_requests_style">
                        <div class="heder_post_style">
                            <div class="avatar_user_style">

                            </div>
                            <div class="info_user_style">
                                <div class="user_name_style">
                                    {{ request.name }}
                                </div>
                            </div>
                        </div>
                        <div class="accept_buttons">
                            <!-- Изменяем кнопку "Добавить" на элемент формы -->
                            <form method="POST" action="/friends/accept_request">
                                <input type="hidden" name="friend_id" value="{{ request.id }}">
                                <button type="submit">принять</button>
                            </form>
                        </div>
                    </div>
                    
                {% endfor %}    
                
            </ul>
        </div>
    </div>
</body>
</html>