<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container_style">
        <div class="vertical_menu">
            <a href="/my_page/">Моя страница</a><br>
            <a href="/news_feed/">Новости</a><br>
            <a href="/friends_page/">Друзья</a><br>
        </div>
        <div class="content_style">
            <h1>Posts</h1>

            <form class="ui form" action="/posts/add" method="post">
                <h3 class="test_css">Создвть новую запись</h3>
                <div class="field">
                    <label>Что нового?</label><br>
                    <input type="text" name="text_post" placeholder="Введите текст к посту"><br>
                    <label>Путь к фото</label><br>
                    <input type="text" name="path_photo" placeholder="Укажите путь к файлу"><br>
                </div>
                <button class="ui teal basic button" type="submit">Добавить</button>
            </form>

            <ul>
                {% for post in posts %}
                    
                    <div class="post_style">
                        <div class="heder_post_style">

                            <div class="avatar_user_style">

                            </div>
                            <div class="info_user_style">
                                <div class="user_name_style">
                                    {{post.name}}
                                </div>

                                <div class="data_create_style">
                                    {{post.data_create}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="content_post_style">
                            {{post.text_post}}
                        </div>    
                    </div>
                    
                {% endfor %}    
            </ul>
        </div>
    </div>
</body>
</html>